{% extends 'reg_page/index.html' %}

{% block register %}

    <p class="c t2 mt1 mb1">Register your login</p>

    <!--table-->
    <div class="opacity">
        <form method="POST">
            <div class="reg c t2 mt1 mb1">
                {% csrf_token %}
                {{form}}
            </div>
            <div class="btw mt1 mb1 c">
                <button type="submit">Sign Up</button>
            </div>
        </form>
         <p class="r t5 mr2 mb1"><a href="{% url 'password-reset' %}">forgot password ?</a></p>
    </div>
{% endblock register %}